<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <div class="container">
        <h1 class="heading" >Vote Eligibility Checker</h1>
        <div class="field">
            <form action="#" method="post">
           <p>Enter your name: <input type="text" name="name"/></p>
           <p>Enter your age: <input type="text" name="age"/></p>
            <input type="submit" value="Submit"/>
            </form>
        </div>
       <h2>{{ans}}</h2>
       </div>
        <script src="" async defer></script>
    </body>
</html>